# dependencies
node_modules

# build output
dist
dist-ssr
*.local
*.tsbuildinfo

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
logs
*.log
npm-debug.log*

# testing / coverage
coverage

# env
.env
.env.local
.env.*.local
